@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}


.main-footer {
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.item1 {
    margin-left: 25px;
    margin-top: 20px;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}

.map {
    margin-right: 25px;
}

@media only screen and (max-width: 636px) {
    .main-footer {
        background-color: brown;
        display: flex;
        flex-wrap: wrap;
    }

    .maping {
        display: flex;
        flex-wrap: wrap;
    }

    .map {
        display: flex;
        flex-direction: column;
        width: 100px;
    }

}