@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.maincolor1 {
    display: flex;
    background-color: cadetblue;
    flex-wrap: wrap;
    flex-direction: column;
}

.title2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.img1 {
    width: 400px;
}
