@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0;
}

.title3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.img1 {
    width: 400px;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}
